# Ignore data files
*.csv
*.parquet
# macOS Finder files
.DS_Store

# venv
venv/

*.zarr
*.tif

# Ignore the entire Tif directory
Tif/


# Ignore raster data and sidecar files
*.tif
*.tfw
*.ovr
*.vat.*
*.aux.xml