# Core scientific stack
numpy
pandas
scipy
xarray
zarr

# Geospatial
rasterio
rioxarray
geopandas
shapely
pyproj
geocube

# Terrain / DEM
py3dep
xarray-spatial

# ML
torch
torchvision

# Visualization
matplotlib

# Utilities
tqdm
pyyaml
dask
fsspec
netCDF4
h5netcdf
